.TimeSelection__select{
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    outline-width: 0;
    line-height: 2;
    padding: .3em 2em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}