.checker{
  width: 100%;
}
.checker__container{
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 20px;
}
.checker__for__alphabets{
  display: flex;
  width: 15%;
  background-color: #ffffff;
  margin-right: 20px;
  border-radius: 25px;
}
.checker__for__alphabets > select{
  padding: 15px 10px;
  outline-width: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;
}
.checker__fields{
  display: flex;
  width: 45%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.checker__fields select{
  width: 16.66%;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 5px;
  outline-width: 0;
  border: none;
  text-align: center;
  text-align-last: center;
}
.checker__fields select option{
  text-align-last: center;
}
.checker__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: var(--primary-blue);
  border-radius: 25px;
  cursor: pointer;
}
.checker__button button{
  color: #ffffff;
  background-color: transparent;
  width: 95%;
  border: none;
  outline-width: 0;
  padding: 15px 10px;
}

@media only screen and (max-width: 600px){
  .checker__container{
    flex-direction: column;
    align-items: center;
  }
  .checker__for__alphabets{
    flex-direction: row;
    width: 80%;
    margin-right: 0px;
  }
  .checker__fields{
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
  }
  .checker__fields select{
    margin-right: 0px;
    margin-inline: 5px;
  }
  .checker__button{
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
  }
}